@{
    ViewData["Title"] = "About Us";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Desenvolvedor: @ViewData["Desenvolvedor"]</p>
<adress>
    <strong>Para mais Informações acesse o <a href="https://nathatargino.azurewebsites.net/" target="_blank">meu portólio</a>.</strong>
</adress>



